body{
    background-color: #a7d7c5;
    position: absolute;
}

img{
    height: 30%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display : block;
    border-radius: 15px;   
}
.input{
    position: relative ;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 40%;
    text-align: center;
    border-radius: 15px;
}

textarea{
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    resize: none;
}

p{
    font-family: monospace;
}